body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

 .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #3498db;
  color: white;
  padding: 10px 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
} 

.menu-icon {
  cursor: pointer;
  font-size: 24px;
}

.main-content {
  flex: 1;
  display: flex;
  transition: margin-left 0.3s;
}

.calendar {
  flex: 1;
  padding: 20px;
}

.tasks {
  flex: 1;
  padding: 20px;
}

@media (max-width: 640px) {
  .main-content {
    flex-direction: column;
  }
}

.calendar-cell.pending {
  background-color: green;
}

.calendar-cell.overdue {
  background-color: red;
}

.react-calendar {
  min-width: 410px;
  max-width: 100%;
  border: 1px solid #a0a096;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.125em;
  box-sizing: border-box;
}

.react-calendar {
  background-color: rgb(120, 110, 129);
  border: none; 
  font-size: 16px; 
}

.react-calendar .react-calendar__tile {
  padding: 1em;
  color: #0ff; 
  
}

.react-calendar .react-calendar__tile--active {
  background-color: #0ff; 
   color: #000; 
} 


.react-calendar .react-calendar__tile {
  background-color: rgb(120, 110, 129); 
  color: #0ff; 
  padding: 0.5em; 
}

.react-calendar .react-calendar__tile--active {
  background-color: #0ff; 
  color: #000; 
}


.react-calendar .react-calendar__navigation {
  background-color: rgb(120, 110, 129); 
  color: #0ff; 
  padding: 0.5em; 
}


.react-calendar .react-calendar__navigation button {
  background-color: rgb(120, 110, 129); 
  color: #0ff; 
  padding: 0.2em; 
  font-size: 20px; 
}


.react-calendar .react-calendar__navigation__label:disabled {
  background-color: rgb(120, 110, 129);
  color: #0ff; 
  font-weight: bold; 
}

.react-calendar .react-calendar__tile:active {
  background-color: #0ff; 
}


.react-calendar .react-calendar__tile--active:active {
  background-color: #000; 
}

.addtask{
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color:  rgb(120, 110, 129); 
  color: #fff; 
  border: none;
  border-radius: 25%; 
  font-size: 24px; 
  padding: 15px 30px; 
  cursor: pointer;
  z-index: 999; 
}

.addtask:hover {
  background-color: rgb(6, 64, 6); 
}


