body {
    margin: 0;
    width: 100%;
}

.view-btn,
#sortPrice {
    cursor: pointer;
}

.book-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 180px;
    min-height: 50vh
}

.book{
    width: 20vw;
    border: 1px solid rgb(155, 155, 155);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    margin: 30px 10px;
    padding: 10px 15px;
    box-sizing: border-box;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
    position: relative;
    border-radius: 5px;
    min-width: 300px; 
    padding: 20px;
}

.book-img img{
    margin: 0 auto;
}

.book-price{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    cursor: pointer;
}

.view-btn {
    height: 35px;
    min-width:  12vw;
    font-weight: 600;
    font-size: 13px;
    border: 1px solid rgb(119, 118, 118);
    border-radius: 7px;
    background-color: rgb(241, 241, 241);
}

.book-text{
    overflow: hidden;
    text-overflow: ellipsis ellipsis;
}

.filters{
    flex-wrap: wrap;
    width: 100%;
    margin: 30px 10px 10px 0px;
    display: flex;
}

#searchName{
    border: 1px solid gray;
    height: 40px;
    font-size: 18px;
    margin:3px 10px ;
    min-width: 270px;
    background-color:#f0f0f0 ;
}

#sortPrice{
    border-radius: 5px;
    border: 1px solid gray;
    font-size: 20px;
    margin:3px 10px ;
    height: 40px;
    background-color:#f0f0f0 ;
}
.book-img{
    margin: 0 auto;
}


.light {
    background-color: #f0f0f0;
    color: #333;
  }
  
.dark {
    background-color: #333;
    color: #fff;
    background-image: linear-gradient(320deg, #473515 0, #433614 4.55%, #3f3814 9.09%, #3b3915 13.64%, #363a16 18.18%, #313c18 22.73%, #2c3d1b 27.27%, #263e1e 31.82%, #203e22 36.36%, #1a3f26 40.91%, #12402a 45.45%, #07402f 50%, #004034 54.55%, #004038 59.09%, #00413d 63.64%, #004042 68.18%, #004046 72.73%, #00404a 77.27%, #00404e 81.82%, #003f52 86.36%, #003e54 90.91%, #003d57 95.45%, #003c59 100%);

}

.button {
  display: inline-block;
  padding: 10px 20px;
  background: linear-gradient(to right, #1e7f1e, #007a00); 
  border: none;
  color: #fff; 
  text-align: center;
  text-decoration: none;
  border-radius: 25px; 
  cursor: pointer;
  transition: background 0.3s ease-in-out, box-shadow 0.2s ease-in-out;
  box-shadow: 0px 3px 6px rgba(255, 255, 255, 0.2);
}

.custom-element {
  border-radius: 10px; 
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
  
.custom-element:hover {
  transform: scale(1.03); 
  box-shadow: 0px 5px 10px rgba(255, 255, 255, 0.3); 
}
 
.custom-element:active {
  box-shadow: 0px 3px 6px rgba(255, 255, 255, 0.4); 
}

.price-block-container {
    position: absolute;
    top: 100%;
    left: 0;
    width: auto;
    border-radius: 5px;
    padding: 5px 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    opacity: 0;
    visibility: hidden;
    transform-origin: top;
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
    z-index: -1; 

}
  
  .book.custom-element:hover, .price-block-container {
    opacity: 1;
    visibility: visible;
    z-index: 1;
    transform: translateY(5px);
  }

  .cart-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #36f4e4; 
    color: #fff; 
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
  }

  .light-theme{
    background-color:#36f4e4;
    color: white;
    border-radius: 50%;
    border: 5px solid #36f4e4;   
    margin:3px 10px ;
  }
  
  .dark-theme{
    background-color: white;
    color: black;
    border-radius: 50%;
    border: 5px solid gray;   
    margin:3px 10px ;
  }

  .reset-button{
    color: black;
    border-radius: 5px;
    margin:3px 3px ;
    padding: 1px 8px;
    cursor: pointer;
    border: none;
  }